*{
    margin: 0;
    padding: 0;
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    color: #333;
}

.navbar{
    height: 778px;
    width: 100%;
    border: #333;
    box-shadow: 4px 4px 3px rgba(223, 10, 10, 0.1);
    background-image: url('alfadrums.jpg');
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    display: flex;
    

}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 778px;
    width: 100%;
    justify-content: flex-end;
   
    
   
}
ul{
    list-style-type: none;
   display: flex;
   justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
   
   
   
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
   
    
}


section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

.additional-info {
    display: none;
    margin-top: 10px;
}

.drum-section.clicked .additional-info {
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
